# Auto detect text files and perform LF normalization
* text=auto

# C#
*.cs       text diff=csharp
*.csproj   text eol=crlf
*.sln      text eol=crlf

# Graphics
*.ico      binary
*.png      binary

# Serialisation
*.json     text

# Exclude files from exporting
.gitattributes export-ignore
.gitignore     export-ignore
