<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.2" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.2" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.2" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.2" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.2" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net40" version="1.0.3" targetFramework="net40" developmentDependency="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="NUnit.Runners" version="2.6.4" targetFramework="net40" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net40" />
</packages>