name: Auto Approve Docs PR

on:
  pull_request_target:
    types: [opened, synchronize, reopened]
    branches: [ "main" ]

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    
    if: startsWith(github.head_ref, 'docs/main-window-update-')
    
    steps:
      - name: Approve Pull Request
        uses: hmarr/auto-approve-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
